html, body{
    height: 100%;
    margin:0;
    font-size: .95em;
}
button{
    background-color: rgb(247, 247, 247);
    border: 1px solid #9999ff;
    border-radius: 2px;
}
/* button:hover{
    background-color: rgb(221, 221, 221);

} */
.toggle{
    width: 90%;
    font-size: .75em;
    /* background-color: rgb(247, 247, 247);
    border: 1px solid #9999ff;
    border-radius: 2px; */
}
#right-div{
    float: right;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#required-selected{
    flex: 1;
    background-color: rgb(189, 239, 255);
}
#elective-selected{
    flex: 1;
    background-color: rgb(255, 186, 255);
}

#tracks-div{
    margin: 4px;

    display: flex;
    flex-direction: row;
}

.track-column{
    flex: 1;
    background-color: #e6e6ff;
    margin: 4px;
    text-align: center;
    padding: 4px 1px;
}

.course-type-div{
    border-radius: 1px;
    /* border: 4px solid #9999ff; */
    margin: 4px;
    padding: 2px;
}

.required-pool{
    background-color: #a5a5ff;
    margin-bottom: 8px;
}
.elective-pool{
    background-color: white;
}

.choose-div{
    border-radius: 2px;
    border: 3px solid #751aff;
    margin: 4px;
    background-color: rgb(241, 241, 207);
}

#left-div{
    float: left;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 100%;
}





.selected-course{
    background-color: greenyellow;
}
.selected-conflict-course{
    background-color: grey;
}
.selected-course:hover{
    background-color: rgb(160, 231, 53);
}
.selected-conflict-course:hover{
    background-color: rgb(97, 97, 97);
}


.hover-course{
    background-color: rgb(252, 240, 77);
}
.hover-conflict-course{
    background-color: rgb(255, 137, 137);
}

.sidebar-button{
    margin: 1px;
}
.sidebar-button:hover{
    background-color: rgb(206, 206, 206);
}




